@import '../../assets/scss/setup/variables';

.app-header {
  padding-top: 14px;
  padding-bottom: 14px;
  .cart-button {
    position: relative;
    .items-quantity-container {
      position: absolute;
      overflow: hidden;
      bottom: -30%;
      right: -30%;
      width: 2rem;
      height: 1.5rem;
      transform: translate(0%, 20%);
      border-radius: 37%;
      // background-color: $secondery;
      background-color: lighten($color: $secondery, $amount: 15%);
      color: white;
    }
  }
}
