// COLOR PALETTE
$primary: #2ecad3;
$secondery: #e7018e;
$weak-1: #c4c4c4;
$weak-2: #f5f5fe;
$block-natural: #f3ecb4;
$block-hot: #532b06;
$block-white: rgb(250, 250, 250);
$red: #e74c3c;

// TYPOGRAPHY:
@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);
$reg-text: Open Sans Hebrew;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 1060px;
