.form-field {
  label {
    margin-bottom: 0.57rem;
  }
  .input-box {
    // opacity: 0.4;
    border: 1px solid #c4c4c460;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 0.74rem;
    margin-bottom: 0.85rem;
    .reaction-box {
      width: 0.92rem;
      img {
        width: 100%;
        display: none;
        &.active {
          display: block;
        }
      }
    }
    input {
      border: unset;
      outline: unset;
      direction: rtl;
      padding-top: 1.28rem;
      padding-bottom: 0.85rem;
      font-size: 16px;
    }
  }
}

.fields-box {
  input {
    width: 30vw;
  }
}
